
{% load static %}
{% block title %}add{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/addcss.css' %}">
    <link rel="stylesheet" href="{% static 'css/footercss.css' %}">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container">
    <!-- head -->
   <div class="header_box1">
    <div class="header_box2">
         <a class="logo_box" href="{% url 'crowdfund:index' %}"><img src="{% static 'images/7.jpg' %}"/></a>
         <div class="nam">
            <h1>众筹之光</h1>
            <p>www.zhongchouzhiguang.com</p>
        </div>
    </div>
    <!-- menu -->
    <div class="menu">
        <span><a href="{% url 'crowdfund:thefirst' %}">首页</a></span>
        <span><a href="{% url 'crowdfund:search' %}">优质项目</a></span>
        <span><a href="{% url 'crowdfund:add' %}">发起众筹</a></span>
        <span><a href="{% url 'crowdfund:guide' %}">新手指南</a></span>
        <span><a href="{% url 'crowdfund:myself' %}">个人中心</a></span>
        <span style="position: relative; margin-left:40px;">
        <form method="get" action="/search/">
            {% csrf_token %}
            <input type="search" placeholder="搜索" required>
            <button type="submit">搜索</button>
        </form>
        </span>
      <!-- 登录注册按钮 -->
    <div class="btns" style="margin-left: 800px;margin-top:-40px;">

       <a href="{% url 'crowdfund:login' %}"><button class="white small" style="">登录</button></a>

        <a href="{% url 'crowdfund:register' %}"><button class="blue small ml20 mr20">注册</button></a>
    </div>


    </div>
    <!-- munu end -->



</div>
<!-- head end -->
<div class="c" >
  <div class="bgfff bline mt26 mb30" style="height:1100px;">
        <div class="e2">
           <div class="edit-nav-active">发布众投项目</div>
       </div>

    <div class="padding15" style="padding-top:30px;">
      <div class="edit">
        <form id="myform11" name="myform11" action="/add/" method="post" action="/ucenter/79543/financing/update-basic/id" enctype="multipart/form-data">
            {% csrf_token %}
          <!-- 项目名 -->
          <div>
            <span><i class="red">*&nbsp;</i>项目名：</span>
              <div class="form-group" style="width:300px;margin-left:100px;height: 15px;">
                  {{ add_form.title }}
              </div>
          </div>

          <!-- 项目简称 -->
          <div>
            <span><i class="red">*&nbsp;</i>项目简称：</span>
              <div class="form-group" style="width:300px;margin-left:100px;line-height: 15px;">
                  {{ add_form.short_title }}
              </div>
          </div>

          <!-- 行业 -->
          <div><span><i class="red">*&nbsp;</i>行&nbsp;业：</span>
            <select id="ind_id" name="ind_id" style="width:200px; height:26px;">
                {# 这里我们遍历form表单中的SELVALUE这个字典,然后把key,value成对取出  #}
                {% for key,value in add_form.SELVALUE_ind_id %}
                   <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
          </div>

          <!-- 地区 -->
          <div><span><i class="red">*&nbsp;</i>地区：</span>
            <select name="country" id="country">
              {% for key,value in add_form.SELVALUE_country %}
                   <option value="{{ value }}">{{ key }}</option>
              {% endfor %}
            </select>
          </div>

         <!--  阶段 -->
          <div><span><i class="red">*&nbsp;</i>阶段：</span>
            <select id="phase" name="phase" style="width:200px; height:26px;">
              {% for key,value in add_form.SELVALUE_phase %}
                   <option value="{{ value }}">{{ key }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- 计划融资金额 -->
          <div><span><i class="red">*&nbsp;</i>计划融资金额：</span>
              <div class="form-group" style="width:300px;margin-left:100px;height: 15px;">
                  {{ add_form.amount }}
              </div>
<!--            <font class="gray ml10" style="margin-left:400px;position:absolute;padding-top:-100px;">万元</font>-->
          </div>

          <!-- 计划出让股份 -->
          <div><span><i class="red">*&nbsp;</i>计划出让股份：</span>
              <div class="form-group" style="width:300px;margin-left:100px;height: 15px;">
                  {{ add_form.transfer_ratio }}
              </div>
<!--            <font class="gray ml10">%</font>-->
          </div>

          <!-- 手机号码 -->
           <div><span><i class="red">*&nbsp;</i>手机号码：</span>
               <div class="form-group" style="width:300px;margin-left:100px;height: 15px;">
                  {{ add_form.phone }}
              </div>
           </div>

           <!-- 一句话介绍 -->
            <div><span><i class="red">*&nbsp;</i>一句话的介绍：</span>
              <div class="form-group" style="width:400px;margin-left:100px;height:200px;">
                  {{ add_form.summary }}
              </div>

            </div>

            <!-- 网址 -->
            <div><span>网址：</span>
                <div class="form-group" style="width:400px;margin-left:100px;height:200px;">
                  {{ add_form.link_url }}
                </div>
              <font class="gray ml10" style="margin-left:300px;position:absolute;margin-top:-160px;">（网址格式以http：//开头）</font>
            </div>

            <!-- 提交按钮 -->
            <div class="text-center padding15" style="margin-top:-60px;">
              <!--<input name="提交" type="submit" class="btn btn-lg btn-orange" id="sub" style="width:150px" value="保存">-->
                <input name="提交" type="submit" value="保存"style="width:150px;height:40px;background-color:#66B3FF;margin-left:500px;" >
            </div>
        </form>
      </div>
    </div>

  </div>
  <hr/>

  <!-- footer -->
  <div class="footer">
  <div class="c11">
  </br>
    <a href="#" class="footic01">众筹之家-打造专业众筹平台</a>
      <a href="#" class="footic02">全球众筹金融科技服务平台</a>
      <a href="#" class="footic03">造就百亿市值公司</a>
  </div>
  <div class="row" >
    <div class="col-lg-3" style="text-align: center;">
      <h5>关于我们</h5>
      <h6><a href="#" >公司简介</a></h6>
      <h6><a href="#">股东成员</a></h6>
      <h6><a href="#">发展历程</a></h6>
      <h6><a href="#">媒体报道</a></h6>
      <h6><a href="#">联系我们</a></h6>
    </div>

    <div class="col-lg-3" style="text-align: center;">
      <h5>帮助中心</h5>
      <h6><a href="{% url 'crowdfund:guide' %}">新手指南</a></h6>
      <h6><a href="#">什么是众投？</a></h6>
    </div>

    <div class="col-lg-3" style="text-align: center;">
      <h5>投资指南</h5>
      <h6><a href="#">领投介绍</a></h6>
      <h6><a href="#">跟投介绍</a></h6>
      <h6><a href="#">众投投资流程</a></h6>
    </div>

    <div class="col-lg-3" style="text-align: center;">
      <h5>客服热线</h5>
      <h6><a href="#">111-222-3333</a></h6>
      <h6><a href="#">周一至周五(9:00-18:00)</a></h6>
      <h6><a href="#">在线反馈</a></h6>
      <h6><a href="#">周一至周五(9:00-18:00)</a></h6>
    </div>

  </div>
  <div class="world" style="text-align: center;color: #6e6e6e;">
      <p >以上项目信息来自于基金公司、资管公司、基金子公司、创业公司等提供给众筹之家的信息资料，基金公司、资管公司、基金子公司、创业公司等对其提供信息的真实可靠性和完整准确性负责。投资者应仔细阅读理财产品的法律文件，了解项目风险和收益特征（包括系统性风险和特定产品所特有的投资风险等）。投资者应根据自身资产状况、风险承受能力选择适合自己的股权投资产品。众筹之家提供的宣传推介材料仅供投资者参考，不构成众筹之家的任何推荐或投资建议。投资者应审慎决策、独立承担风险。</p>
  </div>

  <div class="c1160" style="text-align: center;">
      <a href="#">关于我们</a><span class="sep">|</span>
      <a href="#">加入我们</a><span class="sep">|</span>
      <a href="#">我要融资</a><span class="sep">|</span>
      <a href="#">在线反馈</a><span class="sep">|</span>
      <a href="#">用户注册协议</a><span class="sep">|</span>
      <a href="#">帮助中心</a><span class="sep">|</span>
      <a href="#">免责声明</a><span class="sep">|</span>
      <a href="#">隐私权声明</a>
 </div>
</div>

</div>



</div>
{% endblock %}